/* View maps container */
#container-view-maps {
  display: none;
}
#maps-viewer-wrapper {
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2vh 0;
  overflow-y: scroll;
  overflow-y: auto;
}
.card {
  min-width: 200px;
  margin: 10px;
  padding: 10px;
}
.map-editor-modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.map-editor-modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
.popup-image {
  margin-top: 10px;
  width: 200px;
  height: 200px;
}
#map-edit-frame{
  width: 100px;
  height: 100%;
  width: 100%;
}
