/* View maps container */
#container-view-maps {
  display: none;
}
#maps-viewer-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2vh 0;
  overflow-y: scroll;
  overflow-y: auto;
}
.map-editor-modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.map-editor-modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
.popup-image {
  margin-top: 10px;
  width: 200px;
  height: 200px;
}
.fav-star {
  height: 1.5em;
  width: 1.5em;
}
.view-image {
  display: block;
  width: 100%;
}
.view-image-wrapper {
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-height: 8em;
}
.view-title{
  max-height: 5em;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
}
.view-date {
  max-height: 3em;
}
.view-buttons {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  justify-content: end;
  margin-top: auto;
}
.card {
  width: 24vw;
  overflow: hidden;
}
.private-card {
  background-color: rgba(218, 201, 201, 0.4);
}
